$font-color: #6d6d6d;
$bg: #ebebeb;
$defaultSz: 40px;
$main-color: #1cc4a3;

@define-extend button {
  position: relative;
  z-index: 1;
  border: none;
  width: $defaultSz;
  height: $defaultSz;
}

@define-mixin placeholderColor $color {
  &::-webkit-input-placeholder { color: $color ; }
  &:-moz-placeholder { color: $color ; }
  &::-moz-placeholder { color: $color ; }
  &:-ms-input-placeholder { color: $color ; }
}

body {
  color: $font-color;
  background: $bg;
}

button:focus {
  outline: none;
}

.container_title {
  font-size: 3.5rem;
  font-weight: 100;
  text-align: center;
}

.wrapper {
  width: 40%;
  margin: auto;
  box-shadow: 1px 2px 2px #d0d0d0
}

.loader {
  color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../images/loader.gif'), rgba(0,0,0,0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5rem;
  z-index: 9999;
}

.header {
  overflow: hidden;
  position: relative;

  .addItemInput {
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    right: $defaultSz;
    width: 100%;
    text-indent: 60px;
    padding-right: 5px;
    background: $main-color;
    color: #fff;
    font-size: 15px;
    margin: 0;
    @mixin placeholderColor #e6e6e6;

    &:focus {
      outline: none;
    }
  }

  .addBtn {
    float: right;
    background: #1bbc9b;
    font-size: 20px;
    color: #eee;
    @extend button;

    &:hover {
      background: #19b394;
    }

    &:focus {
      outline: none;
    }
  }
}

.content {

  .info {
    border-top: 1px solid hsla(0,0%,93%,1);
    display: none;
    padding: 0 10px;

    .itemCount {
      float: right;
    }

    .filterArea {
      input[type="radio"] {
        display: none;

        &:checked + span {
          color: $main-color;
        }
      }
      span {
        margin: 0 10px;
        color: #e9e9e9;
        padding: 5px;
      }
    }

    .deleteCompeleted {
      position: absolute;
      right: 0;
      font-size: 14px;
      cursor: pointer;
      color: #000;
      opacity: .5;

      &:hover {
        opacity: 1;
      }
    }
  }

  .items {
    list-style: none;
    padding: 0;
    margin: 0;

    & > li {
      height: $defaultSz;
      background: #f7f7f7;
      position: relative;
      line-height: $defaultSz;

      .edit {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin-right: -80px;
        border: none;
        font-size: 15px;
        text-indent: 16px;
        width: 100%;
        box-shadow: inset 0px 0px 29px -11px rgba(181,181,181,1);

        &:focus {
          outline: none;
        }
      }
      .text { display: block; }

      &.editable {
        .edit { display: inline-block; }
        .text { display: none; }
        .checked, .remove { visibility: hidden; }
      }

      & + .info {
        display: block;
        background: #fff;
      }

      &:hover {
        .remove {
          display: block;
        }

        .box {
          opacity: 0.1;
        }

      }

      .check {
        height: $defaultSz;
        width: $defaultSz;
        margin: 0;
        display: inline-block;
        position: relative;

        .box {
          content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSLQodC70L7QuV8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTI3LjcwNCw4LjM5N2MtMC4zOTQtMC4zOTEtMS4wMzQtMC4zOTEtMS40MjgsMCAgTDExLjk4OCwyMi41OWwtNi4yODItNi4xOTNjLTAuMzk0LTAuMzkxLTEuMDM0LTAuMzkxLTEuNDI4LDBjLTAuMzk0LDAuMzkxLTAuMzk0LDEuMDI0LDAsMS40MTRsNi45OTksNi44OTkgIGMwLjM5LDAuMzg2LDEuMDM5LDAuMzg2LDEuNDI5LDBMMjcuNzA0LDkuODExQzI4LjA5OSw5LjQyMSwyOC4wOTksOC43ODcsMjcuNzA0LDguMzk3QzI3LjMxLDguMDA2LDI4LjA5OSw4Ljc4NywyNy43MDQsOC4zOTd6IiBmaWxsPSIjMTIxMzEzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGlkPSJDaGVjayIvPjxnLz48Zy8+PGcvPjxnLz48Zy8+PGcvPjwvc3ZnPg==");
          padding: 8px;
          opacity: 0;
          height: 23px;
          width: 23px;
          position: absolute;

          &.checkedBox {
            opacity: 1;
          }
        }

        .checked {
          visibility: hidden;
        }
      }

      .text {
        display: inline-block;
        position: absolute;
        left: 40px;
        right: 40px;
        text-indent: 10px;
        text-decoration: none;
        transition: all 450ms;

        &.checked {
          text-decoration: line-through;
        }
      }

      .remove {
        @extend button;
        float: right;
        display: none;
        width: 20px;
        height: 20px;
        margin: 10px 10px 0 0;
        content: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI1NiAyNTYiIGhlaWdodD0iMjU2cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiB3aWR0aD0iMjU2cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0xMzcuMDUxLDEyOGw3NS40NzUtNzUuNDc1YzIuNS0yLjUsMi41LTYuNTUxLDAtOS4wNTFzLTYuNTUxLTIuNS05LjA1MSwwTDEyOCwxMTguOTQ5TDUyLjUyNSw0My40NzUgIGMtMi41LTIuNS02LjU1MS0yLjUtOS4wNTEsMHMtMi41LDYuNTUxLDAsOS4wNTFMMTE4Ljk0OSwxMjhsLTc1LjQ3NSw3NS40NzVjLTIuNSwyLjUtMi41LDYuNTUxLDAsOS4wNTEgIGMxLjI1LDEuMjUsMi44ODgsMS44NzUsNC41MjUsMS44NzVzMy4yNzUtMC42MjUsNC41MjUtMS44NzVMMTI4LDEzNy4wNTFsNzUuNDc1LDc1LjQ3NWMxLjI1LDEuMjUsMi44ODgsMS44NzUsNC41MjUsMS44NzUgIHMzLjI3NS0wLjYyNSw0LjUyNS0xLjg3NWMyLjUtMi41LDIuNS02LjU1MSwwLTkuMDUxTDEzNy4wNTEsMTI4eiIvPjwvc3ZnPg==');

        &:focus {
          outline: none;
        }
      }

      &:nth-of-type(even) {
        background: #fcfcfc;
      }

    }
  }
}
