<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%if (!htmlWebpackPlugin.options.production) { %>
      <script src="http://0.0.0.0:8000/webpack-dev-server.js"></script>
    <% } %>
</head>
<body>
  <div id="app_container"></div>
</body>
</html>
